@using Microsoft.AspNetCore.Identity
@model IEnumerable<EmprestimosModel> 

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1>Emprestimos</h1>
            <div>
            <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Exportar"><i class="bi bi-file-earmark-plus-fill mx-2"></i>Exportar</a>

                <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Create"><i class="bi bi-file-earmark-plus-fill mx-2"></i>Novo Emprestimo</a>

            </div>



        </div>

    @if (TempData["msgDeSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show text-light" role="alert">
            <strong>@TempData["msgDeSucesso"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    

    <table id="emprestimos" class=" table table-light table-hover mt-5">
    <thead>
    <tr>
        <th scope="col">Recebedor</th>
        <th scope="col">Fornecedor</th>
        <th scope="col">Livro</th>
        <th scope="col">Data de Emprestimo</th>
        <th scope="col">Quem o Emprestou</th>
        <th scope="col"></th>
        
    </tr>
    </thead>
    <tbody>
           @inject UserManager<UserModel> userMannager
           
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.Recebedor</th>
                    <td>@item.Fornecedor</td>
                    <td>@item.Livro</td>
                    <td>@item.DataEmprestimo</td>
                        <td>@await userMannager.FindByIdAsync(item.FuncionarioId)</td>
                        <td>
                            <a asp-controller="Emprestimo" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil mx-2"></i>  Editar</a>
                            <a asp-controller="Emprestimo" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-x-circle-fill mx-2"></i>  Excluir</a>
                        </td>
                        
                </tr>
            }

          
        }
        
    </tbody>
</table>
</div>
