@model IEnumerable<EmprestimosModel> 

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1>Emprestimos</h1>
        <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Create">Novo Emprestimo</a>
                </div>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Recebedor</th>
        <th scope="col">Fornecedor</th>
        <th scope="col">Livro</th>
        <th scope="col">Ultima Atualização</th>
        <th scope="col"></th>
        
    </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.Recebedor</th>
                    <td>@item.Fornecedor</td>
                    <td>@item.Livro</td>
                    <td>@item.DataEmprestimo</td>
                        <td><a asp-controller="Emprestimo" asp-action = "Edit"  asp-route-id ="@item.Id" class="btn btn-warning mx-2">Editar</a>
                            <a asp-controller="Emprestimo" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Excluir</a>
                        </td>
                        
                </tr>
            }

          
        }
        
    </tbody>
</table>
</div>
